@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

html,body {
height:100%;
width:100%;
font-family:'Poppins',sans-serif;
color:#222;}

.navbar{
padding : .8rem;}
.navbar-nav li {  /*--espace entre deux elements du nav--*/
padding-right :20px;}
.nav-link {
font-size :1.1em }
.carousel-inner img {
width:100% ;
height:100% ;
}
.carousel-caption {
position: absolute ;
top:50%;
transform: translateY(-50%);}

.padding {
padding-bottom: 2rem ;}

.welcome {
width: 75%;
margin: 0 auto;
padding-top :2rem;
}
.welcome hr {
border-top: 2px solid #b4b4b4;
width:95%
margin-top: .3rem;
margin-bottom: 1rem ;}

#more {display: none;}